// bower:scss
// endbower
//base
@import "base/utility";
@import "base/dialog";
.icon-snow {
    @include create-icon($rem-120, $rem-120, '../images/snow.png', '');
}

.icon-activation {
    @include create-icon($rem-120, $rem-120, '../images/activation.png', '');
}

.icon-less {
    @include create-icon($rem-120, $rem-120, '../images/less.png', '');
}

.pay-mode {
    .top-box {
        height: $rem-365;
        text-align: center;
        .icon {
            display: inline-block;
            width: $rem-120;
            height: $rem-120;
            margin: $rem-40 0;
        }
        .meg {
            margin: 0 0 $rem-20 0;
            @include create-height-line-size($rem-46);
        }
        .desp {
            @include create-height-line-size($rem-24);
        }
    }
    .btn {
        margin-left: auto;
        margin-right: auto;
    }    
}
