// bower:scss
// endbower
@import "base/utility";
@import "base/dialog";
@import "base/animation";
//ui
@import "ui/ui-input";
@import "ui/ui-popup-page";
@import "ui/ui-dialog.password";
//images base64
@import "_imagess";

// .icon-circle:before,
// .icon-circle.cur:after {
//     @include create-radius-w-h(50%, $rem-20, $rem-20);
//     @include VerticalCenterLeft($rem-24, 0);
//     opacity: 0.5;
//     background-color: $color-49a7f6;
//     content: '';
//     visibility: visible;
// }
.cur:before {
  @include create-icon($rem-30, $rem-23, '../images/hook-blue.png', '');
  @include VerticalCenterRight($rem-23, $rem-30);
  content: '';
  visibility: visible;
  z-index: 2;
}

.icon-bgGear:after {
  @include create-icon(100%, $rem-7, "../images/gear.png", $image-gear);
  background-color: #FFFFFF;
  content: '';
  visibility: visible;
  @include absolute-lift-bottom(0, 0);
}

.icon-hook:before {
  @include create-icon($rem-16, $rem-12, "../images/hook.png", "");
  @include VerticalCenterLeft($rem-12, $rem-10);
}

.icon-page-close {
  @include create-icon($rem-80, $rem-80, "../images/page-close.png", "", 50%, 50%, $rem-36, $rem-36);
  @include absolute-right-top(0, 0);
  z-index: 2;
}

.icon-arrow-rigth:before {
  @include create-class-icon($rem-16, $rem-25, "../images/arrow-rigth.png", "");
  @include VerticalCenterRight($rem-25, $rem-30);
  z-index: 2;
}

.pay {
  .shadow {
    -moz-box-shadow: $rem-5 $rem-5 $rem-10 #d1d1d6;
    -webkit-box-shadow: $rem-5 $rem-5 $rem-10 #d1d1d6;
    box-shadow: $rem-5 $rem-5 $rem-10 #d1d1d6;
  }
  .desp {
    font-size: $rem-24;
    color: #999999;
    margin-left: $rem-5;
  }
  $row1Heigth: $rem-250;
  $row2Heigth: $rem-108;
  .top-box {
    height: $row1Heigth + $row2Heigth;
    .row-1 {
      height: $row1Heigth;
      .txt1 {
        @include create-height-line($rem-24);
      }
      .txt2 {
        margin: $rem-24 0;
        @include create-height-line-size($rem-68);
      }
      .txt2-1 {
        @include absolute-lift-bottom($rem-20, 0);
        font-size: $rem-34;
        text-decoration: line-through;
        @include create-height-line($rem-68);
      }
      .txt3-box {
        @include create-height-line($rem-24);
      }
      // .txt3 {
      //     padding: 0 $rem-5;
      //     @include create-radius($rem-5);
      // }
    }
    .row-2 {
      @include create-height-line($row2Heigth);
      .txt-left {
        font-size: $rem-32;
      }
      .txt-right {
        color: $color-a2a2a6;
      }
    }
  }
  .balance {
    @include create-height-line-size($rem-24);
    color: #999999;
  }
  .ui-popup-page {
    .top-box {
      height: $rem-150;
      .desp {
        margin-left: 0;
      }
    }
    .mg-top {
      margin: $rem-50 0 $rem-20 0;
    }
    .title {
      color: $background1;
      @include create-height-line-size($rem-60);
    }
    .list {
      background-color: #ffffff;
      li {
        @include create-height-line($rem-110);
        color: #333333;
      }
      .item {
        height: 100%;
        margin-left: $rem-30;
      }
      li:last-child .item {
        margin: 0;
      }
      .desp {
        margin-left: $rem-10;
      }
    }
    .bet {
      padding-top: $rem-25;
    }
  }
}

// .rebate-plan {
//     .ui-mask {
//         opacity: 0.7;
//     }
//     .ui-dialog {
//         width: 94%;
//         height: $rem-600;
//         -webkit-border-radius: 0;
//         background: none;
//         position: relative;
//     }
//     .ui-mask.start {
//         opacity: 0;
//     }
//     .ui-dialog.start {
//         -webkit-transform: translate3d(0, -3000px, 0);
//         transform: translate3d(0, -3000px, 0);
//     }
//     .ui-dialog:before {
//         @include create-class-icon(100%, 100%, "../images/dialog-bg1.png", "");
//         position: absolute;
//         left: 0;
//     }
//     .ui-dialog-content {
//         padding: $rem-30 $rem-60;
//         font-size: $rem-26;
//         color: $color-cfcfcf;
//     }
//     .cor-3 {
//         color: $color-33333;
//     }
//     .mag-10 {
//         margin: 0 $rem-20;
//     }
//     .bor-t {
//         @include create-border-top();
//     }
//     .bor-b {
//         @include create-border-bottom();
//     }
//     .top-box {
//         box-sizing: content-box;
//         height: $rem-110;
//         .title {
//             @include create-height-line-size($rem-32);
//             font-weight: bold;
//         }
//         .title2 {
//             @include create-height-line($rem-22);
//             @include create-border($background1, $rem-4);
//             @include create-radius(3px);
//             padding: 0 $rem-5 0 $rem-35;
//             color: $background1;
//         }
//         .title3 {
//             margin: $rem-20 0;
//         }
//     }
//     .cont-box {
//         padding: $rem-15 0;
//         .row {
//             @include create-height-line($rem-60);
//             text-indent: $rem-30;
//         }
//         .item {
//             font-size: $rem-26;
//         }
//         .desp {
//             float: right;
//         }
//     }
//     .bet {
//         box-sizing: content-box;
//         padding-top: $rem-25;
//         p {
//             @include create-height-line($rem-40);
//         }
//     }
// }
