// bower:scss
// endbower
@import "utility";

.lod-Box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  .lib-mask {
    background: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    opacity: .5;
  }

  .lod-spinn {
    width: 60px;
    height: 60px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
  }

  .lod-double-bounce1, .lod-double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: lod-bounce 2.0s infinite ease-in-out;
    animation: lod-bounce 2.0s infinite ease-in-out;
  }

  .lod-double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .lod-text {
    font-size: 0.85rem;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    bottom: -1.5rem;
    left: 0.25rem;
    width: 100%;
  }

  @-webkit-keyframes lod-bounce {
    0%, 100% {
      -webkit-transform: scale(0.0)
    }

    50% {
      -webkit-transform: scale(1.0)
    }
  }
  @keyframes lod-bounce {
    0%, 100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0)
    }

    50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0)
    }
  }
}

.loading-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  .text-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$rem-110;
    margin-left: -$rem-130;
    width: $rem-260;
    height: $rem-220;
    border-radius: $rem-12;
    background: rgba(0, 0, 0, 0.65);
    z-index: 10000;

    .loading {
      //      -webkit-transform-origin: 0px 0px 0px;
      //      -webkit-transform: scale(0.5);
      margin: $rem-36 auto $rem-24;
      @include create-icon($rem-72, $rem-72, "../images/loading.svg", "");
    }

    .content {
      font-size: $rem-32;
      text-align: center;
      color: #ffffff;
    }
  }
}
