// bower:scss
// endbower
@import "utility";

.loading-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  .text-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$rem-110;
    margin-left: -$rem-130;
    width: $rem-260;
    height: $rem-220;
    border-radius: $rem-12;
    background: rgba(0, 0, 0, 0.65);
    z-index: 10000;

    .loading {
      //      -webkit-transform-origin: 0px 0px 0px;
      //      -webkit-transform: scale(0.5);
      margin: $rem-36 auto $rem-24;
      @include create-icon($rem-72, $rem-72, "../images/loading.svg", "");
    }

    .content {
      font-size: $rem-32;
      text-align: center;
      color: #ffffff;
    }
  }
}
