extends layouts/default

block title
  title 首页

block content
  .row.marketing
    .col-lg-6
      h4 HTML5 Boilerplate

block commonScriptStart
  // build:js scripts/common.pay.js

block commonScriptEnd

  // endbuild
