// bower:scss
// endbower
@import "../base/utility";

.ui-password {
  .ui-dialog {
    width: 80%;
    background-color: $color-efeff4;
  }

  .ui-dialog-content {
    padding: $rem-30 $rem-30;
  }

  .leabl {
    color: #999999;
    @include create-height-line-size($rem-26);
    margin-bottom: $rem-22;
  }
  .lable.error {
    color: #fc3438;
  }
  .ui-dialog-btns .ui-btn.disable {
    color: #aaaaaa;
  }
  .inputBox {
    @include create-height-line($rem-100);
    border-radius: 5px;
    &:before {
      @include create-border-1px($theme-color-dialog-border);
      border-radius: 5px;
    }
    input {
      letter-spacing: $rem-8;
    }
  }
  .less-pw {
    text-align: right;
    color: $background1;
  }
}
