// bower:scss
// endbower
.ui-popup-page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: #f5f5f5;
  z-index: 985;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.ui-popup-page.active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.ui-popup-transition {
  -webkit-transition: -webkit-transform .2s ease-in-out, opacity .3s ease-in-out;
  transition: transform .2s ease-in-out, opacity .3s ease-in-out;
}
